* {
  margin: 0;
  padding: 0;
  color: white;
}
header {
  background-color: #f0000099;
  padding: 15px;
  text-align: center;
  width: 100%;
  box-shadow: 2px 0px 2px 0px;
}
#titular {
  font-family: Century Gothic;
  text-shadow: 2px 0px 2px 0px;
}
body {
  background-color: #444448;
  font-family: sans-serif;
}
footer {
  background-color: #f0f0f0aa;
  padding: 15px;
  text-align: center;
  width: 100%;
}
#champion {
  float: right;
  height: 345px;
}
.panel {
  background-color: #222224aa;
  display: inline-block;
  float: none;
  padding: 20px;
  margin: 10px;
  width: 100px;
  border: 1px #11111166 solid;
  box-shadow: 4px 4px #00000033;
}
#ninjutsu {
  padding-left: 2px;
}
#gears {
  padding-left: 20px;
}
#silk {
  padding-left: 5px;
}
#trainerboi {
  width: auto;
  height: 10%;
}
@media only screen and (max-width: 350px) {
  .panel{
    margin-bottom: 1px;
  }
  #champion {
    margin: 0;
    margin-bottom: 1px;
    height: 304px;
  }
  #greninja {
    margin: 0;
  }
  #magearna {
    margin: 0;
  }
  #ariados {
    margin: 0;
  }
  footer {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 300px) {
  .panel{
    margin: 0 auto;
  }
  #champion {
    float: none;
  }
  #greninja {
    float: none;
  }
  #magearna {
    float: none;
  }
  #ariados {
    float: none;
  }
}
